!!!
%html
  %head
    %title Status
    :css
      h1 { background-color: #00a300 }
      h1 a:link {
        text-decoration: none 
      }
      h1:before { 
        border: .5em solid #007a00;
        border-left-color: transparent;
        border-bottom-color: transparent;
      }
      h1:after { 
        border: .5em solid #007a00;
        border-right-color: transparent;
        border-bottom-color: transparent;
      }
      h1.error { background-color: #c00 }
      h1.error:before { 
        border: .5em solid #91010b;
        border-left-color: transparent;
        border-bottom-color: transparent;
      }
      h1.error:after { 
        border: .5em solid #91010b;
        border-right-color: transparent;
        border-bottom-color: transparent;
      }

      .issue header span.title {
        font-size: large
      }
      .issue header span.at {
        font-size: small;
        font-style: italic
      }

      .update {
        padding-left: 20px;
      }
      .update .at {
        text-align: right;
        font-size: x-small;
      }

  %body
    %a.brand{:href => '/'}
      %img.brand-image(alt='' src="")
      .brand-text
        %strong> Brand

    = yield

    %script(src="https://www.google.com/jsapi")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")

    :javascript
      $(function(){
        $('time.timeago').timeago();
      });
